@font-face {
    font-family: "SFBlack";
    src: url("fonts/SF-Pro-Display-Black.woff") format("woff");
}

@font-face {
    font-family: "SFBold";
    src: url("fonts/SF-Pro-Display-Bold.woff") format("woff");
}

@font-face {
    font-family: "SFThin";
    src: url("fonts/SF-Pro-Display-Thin.woff") format("woff");
}

@font-face {
    font-family: "SFRegular";
    src: url("fonts/SF-Pro-Display-Regular.woff") format("woff");
}

@font-face {
    font-family: "SFMedium";
    src: url("fonts/SF-Pro-Display-Medium.woff") format("woff");
}

@font-face {
    font-family: "SFLight";
    src: url("fonts/SF-Pro-Display-Light.woff") format("woff");
}

:root {
    --dthemefcol: black;
    --cursorcol: #515151;
    --socbtnhovercol: #CFEBFF;
    --socbtniccol: #B3B7E1;
    --hideablebgcol: #FCFCFC;
    --socbtnbgcol: #FCFCFC;
    --contbtntcol: white;
    --titlecol: #000;
    --namecol: #000;
    --scrollercol: #F8F8F8;
    --bodycol: white;
    --lmutedblue: #CFEBFF;
    --dblue: rgba(0, 128, 207, 0.805);
    --navleftborder: rgb(239, 239, 239);
    --navbotborder: rgb(239, 239, 239);
    --socborder: rgb(215, 215, 215);
    --sochoverborder: rgb(151, 181, 204);
    --linecol: rgb(105, 105, 105);
    --lmutedgrn: #94FFCD;
    --dgray: #707070;
    --dmutedblue: #356081;
    --homemiddlemargintop: 11%;
    --borderthickness: 1px;
    --navunderlinewidth: 35%;
    --h1: 2em;
    --h2: 4.5em;
    --h3: 1.5em;
    --selfh: 25em;
    --homepadleft: 10vh;
    --homepadright: 2vh;
    --homepadbot: 0vh;
    --hrhhgt: 100%;
    --scrolldeg: 90deg;
    --stexthgt: 120px;
    --contactmb: 0px;
}

html {
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
}

/*html * {
    cursor: none !important;
} */

*,
*::after,
*::before {
    -webkit-user-drag: none;
    -webkit-app-region: no-drag;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-user-select: -moz-none;
}

::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

body {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    transition: ease-in 0.2s;
    background: var(--bodycol);
}

.cursor1 {
    pointer-events: none;
    position: fixed;
    width: 28px;
    height: 28px;
    border: 1px solid var(--cursorcol);
    border-radius: 50%;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    transition: .15s;
    z-index: 3;
}

.cursor2 {
    pointer-events: none;
    position: fixed;
    width: 6px;
    height: 6px;
    background-color: var(--cursorcol);
    border-radius: 50%;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    transition: .1s;
    z-index: 3;
}

.content~.cursor1 {
    transform: translate(-50%, -50%) scale(1.5s);
    background-color: var(--cursorcol);
    opacity: .5;
}

.content:hover~.cursor2 {
    opacity: 0;
}

.logo1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2em;
    margin: auto;
    outline: none;
    border: none;
}

.logo2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 2em;
    outline: none;
    border: none;
}

.nav-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: auto;
    height: 100%;
}

.navbar {
    padding: 0%;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 100%;
    white-space: nowrap;
    height: 6em;
    z-index: 1;
}

.navbar li {
    position: relative;
}

.navbar li:after {
    border-radius: 3px;
    content: "";
    position: absolute;
    margin-left: 5.5px;
    background-color: var(--dblue);
    height: 3px;
    width: 0;
    left: 0;
    bottom: 8px;
    transition: 0.2s;
}

.navbar li:hover span {
    color: var(--dblue);
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    -ms-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

.navbar li:hover:after {
    width: var(--navunderlinewidth);
}

.navbar-nav>.active>a>span {
    color: var(--dblue);
    font-family: "SFMedium";
}

.navbar-nav>.active:after {
    animation: animactnav 0.6s;
    width: var(--navunderlinewidth);
}

@keyframes animactnav {
    0% {
        width: 0;
    }

    100% {
        width: var(--navunderlinewidth);
    }
}

.emptynavdiv {
    padding: 0;
    margin: auto;
    width: 100%;
    height: 100%;
}

.navoptions {
    color: var(--dgray);
    font-size: 1.2em;
    font-family: "SFLight";
    margin-right: 2.5vh;
}

#collapsableNav {
    width: 100%;
    padding: 10px;
}

.navdiv {
    margin-top: -1px;
    border-left: var(--borderthickness) solid var(--navleftborder);
    border-bottom: 1px solid var(--navbotborder);
    padding-left: 4.5vh;
    background: rgba(225, 225, 225, 0);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(4px);
}

.contact {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: var(--contactmb);
    width: 160px;
    height: 20px;
    font-size: 1.2em;
    border-style: none;
    background-color: var(--dblue);
    color: var(--contbtntcol);
    font-family: "SFMedium";
    border-radius: 5px;
    outline: none;
}

button:focus,
button:focus,
[type="submit"]:focus {
    outline: none;
}

body.dark {
    transition: ease-in 0.2s;
    background: var(--bodycol);

}

#toggle {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 100%;
    display: block;
    width: 70px;
    height: 35px;
    border-radius: 35px;
    transition: 0.5s;
    background: #fff;
    box-shadow: inset 0 2px 30px rgba(0, 0, 0, 0.1),
        inset 0 2px 4px rgba(0, 0, 0, 0.1),
        inset 0 -2px 2px rgba(0, 0, 0, 0.05);
    z-index: 2;
    cursor: pointer;
}

#toggle.dark {
    background: #28466b;
    box-shadow: inset 0 4px 30px rgba(0, 0, 0, 0.1),
        inset 0 4px 4px rgba(0, 0, 0, 0.1),
        inset 0 -2px 2px rgba(0, 0, 0, 0.1);
}

#toggle .indicator {
    position: absolute;
    top: 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    transform: scale(0.9);
    transition: 0.5s;
    left: 0px;
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1),
        inset 0 2px 2px rgba(255, 255, 255, 1),
        inset 0 -2px 2px rgba(255, 255, 255, 1);
}

#toggle.dark .indicator {
    left: 35px;
    background: linear-gradient(to bottom, #28466b, #142C51);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5),
        inset 0 1px 1px rgba(0, 0, 0, 0.2),
        inset 0 -1px 1px rgba(0, 0, 0, 0.2);
}

.row {
    position: absolute;
    top: 0;
    display: flex;
    height: 100vh;
}

.hidsoc {
    background-color: var(--hideablebgcol);
    border-right: 1px solid var(--navborder);
}

.lh {
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.socials {
    background-color: var(--socbtnbgcol);
    margin: 0 auto;
    width: 4em;
    height: 4em;
    border: none;
    border: 0.5px solid var(--socborder);
    border-radius: 50%;
    background-repeat: no-repeat;
    margin: 0.4em;
    position: relative;
    -webkit-transition: background-color 0.15s ease-in;
    -moz-transition: background-color 0.15s ease-in;
    -o-transition: background-color 0.15s ease-in;
    transition: background-color 0.15s ease-in;
}

.socials svg {
    width: 2em;
    position: absolute;
    top: 51%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.socials svg path {
    fill: var(--socbtniccol);
}

.socials:hover {
    border: 0.5px solid var(--sochoverborder);
    background-color: var(--socbtnhovercol);
    -webkit-transition: background-color 0.15s ease-in;
    -moz-transition: background-color 0.15s ease-in;
    -o-transition: background-color 0.15s ease-in;
    transition: background-color 0.15s ease-in;
}

.socials:hover svg path {
    fill: var(--dmutedblue);
    -webkit-transition: fill 0.15s ease-in;
    -moz-transition: fill 0.15s ease-in;
    -o-transition: fill 0.15s ease-in;
    transition: fill 0.15s ease-in;
}

.socials:not(:hover) svg path {
    fill: var(--dgray);
    -webkit-transition: fill 0.15s ease-out;
    -moz-transition: fill 0.15s ease-out;
    -o-transition: fill 0.15s ease-out;
    transition: fill 0.15s ease-out;
}

.homemiddle {
    flex-wrap: wrap;
    margin-top: var(--homemiddlemargintop);
    padding-left: var(--homepadleft);
    padding-right: var(--homepadright);
}

.hi {
    color: var(--dthemefcol);
    font-family: "SFThin";
    font-size: var(--h1);
    margin-bottom: -0.5vh;
}

.hi:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    vertical-align: bottom;
    animation: animline 0.8s;
    width: 2.2em;
    margin-right: -100%;
    margin-left: 6px;
    border-top: 1px solid var(--linecol);
}

@keyframes animline {
    0% {
        width: 0em;
    }

    100% {
        width: 2.2em;
    }

}

.myname {
    color: var(--namecol);
    font-family: "SFBold";
    font-size: var(--h2);
    margin-left: 5vh;
    background: linear-gradient(to bottom, transparent 30%, var(--lmutedgrn) 0%);
}

.title {
    color: var(--titlecol);
    font-family: "SFThin";
    font-size: var(--h3);
    padding-top: 1vh;
}

.bio {
    color: var(--dthemefcol);
    flex-wrap: wrap;
    font-family: "SFRegular";
    font-size: var(--h3);
    padding-top: 1.5vh;
}

.resume {
    color: var(--dblue);
    border-radius: 5px;
    border: 2px solid var(--dblue);
    background-color: var(--bodycol);
    padding: 14px;
    margin-bottom: 30px;
    width: 240px;
    font-family: "SFMedium";
    font-size: var(--h3);
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    margin-top: 4vh;
    /* cursor: none; */
}

.resume span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
    /* cursor: none; */
}

.resume span:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1em;
    content: '\f061';
    position: absolute;
    opacity: 0;
    right: -20px;
    transition: 0.3s;
    transform: rotate(-45deg);
}

.resume:hover span {
    padding-right: 26px;
}

.resume:hover span:after {
    opacity: 1;
    right: 0;
}

.homerighthalf {
    margin-top: 10%;
    display: block;
    overflow: hidden;
    height: var(--hrhhgt);
    padding: 0%;
}

.scrollcont {
    padding: 0;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.scrolling-text {
    padding: 0;
    margin: 0;
    display: inline-block;
    font-family: "SFBlack";
    transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
    will-change: transform;
    backface-visibility: hidden;
}

.scrolling-text .scrolling-text-content {
    padding: 0;
    margin: 0;
    color: var(--scrollercol);
    font-size: var(--stexthgt);
    font-family: "SFBlack";
    white-space: nowrap;
    transition: transform 0.5s cubic-bezier(0.23, 0.36, 0.28, 0.83);
    line-height: 1em;
}

.sidetext {
    padding: 0%;
    transform: rotate(var(--scrolldeg));
    width: 100%;
}

.self {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    height: var(--selfh);
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


@media only screen and (max-width: 250px) {
    :root {
        --homemiddlemargintop: 16%;
        --borderthickness: 0px;
        --selfh: 13em;
        --contactmb: 10px;
        --navunderlinewidth: 0%;
        --homepadleft: 1vh;
        --homepadright: 1vh;
        --scrolldeg: 0deg;
        --stexthgt: 70px;
        --hrhhgt: 60%;
    }
}

@media only screen and (max-width: 350px) {
    :root {
        --homemiddlemargintop: 16%;
        --borderthickness: 0px;
        --selfh: 15em;
        --contactmb: 10px;
        --navunderlinewidth: 0%;
        --homepadleft: 1vh;
        --homepadright: 1vh;
        --scrolldeg: 0deg;
        --stexthgt: 70px;
        --hrhhgt: 60%;
    }
}

@media only screen and (max-width: 450px) {
    :root {
        --homemiddlemargintop: 16%;
        --borderthickness: 0px;
        --selfh: 17em;
        --contactmb: 10px;
        --navunderlinewidth: 0%;
        --homepadleft: 1vh;
        --homepadright: 1vh;
        --scrolldeg: 0deg;
        --stexthgt: 70px;
    }
}

@media only screen and (max-width: 500px) {
    :root {
        --homemiddlemargintop: 15%;
        --borderthickness: 0px;
        --selfh: 19em;
        --contactmb: 10px;
        --navunderlinewidth: 0%;
        --h1: 1.7em;
        --h2: 3.5em;
        --h3: 1.3em;
        --scrolldeg: 0deg;
        --stexthgt: 80px;
        --hrhhgt: 60%;
    }
}

@media only screen and (max-width: 600px) {
    :root {
        --homemiddlemargintop: 15%;
        --borderthickness: 0px;
        --selfh: 21em;
        --contactmb: 10px;
        --scrolldeg: 0deg;
        --stexthgt: 90px;
        --navunderlinewidth: 0%;
        --homepadleft: 2vh;
        --homepadright: 2vh;
        --hrhhgt: 60%;
    }
}

@media only screen and (max-width: 800px) {
    :root {
        --homemiddlemargintop: 14%;
        --borderthickness: 0px;
        --selfh: 23em;
        --contactmb: 10px;
        --navunderlinewidth: 0%;
        --homepadleft: 3vh;
        --homepadright: 3vh;
        --scrolldeg: 0deg;
        --stexthgt: 100px;
        --hrhhgt: 60%;
    }
}

@media only screen and (max-width: 960px) {
    :root {
        --borderthickness: 0px;
        --homepadleft: 4vh;
        --homepadright: 4vh;
        --scrolldeg: 0deg;
        --stexthgt: 110px;
    }
}

@media only screen and (max-width: 1000px) {
    :root {
        --scrolldeg: 0deg;
        --stexthgt: 120px;
        --hrhhgt: 60%;
    }
}

@media (min-width: 992px) {
    .navbar li {
        margin: 0.6em;
    }
}